<div class="">
    <h4 class=""><span class="fas fa-tags"> </span> Tags</h4>
    <p>
        <% site.tags.sort('name').each(function(item){ %>
            <a class="sm-blogger-tag-links" title="<%- item.name%>" href="<%- config.root %><%- item.path %>" style="font-size: <%- Math.min(item.posts.length * 2 + 8, 20) %>px">
                <%- item.name %>
            </a>
        <% }); %>
    </p>
</div>
